<h2>Por pais</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="buscar pais..."
            >

        </app-pais-input>
    </div>
</div>
<hr>
<div *ngIf="hayError"
    class="alert alert-danger">
    no se encontro nada con el termino {{termino}}
</div>

<div *ngIf="!hayError" 
    class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>