<table class="table table-hover" *ngIf="paises.length != 0">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>bandera</th>
            <th>nombre</th>
            <th>capital</th>
            <th>poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of paises; let i= index">
            <td>{{ i + 1}}</td>
            <td>
                <img class="small-flag"  [src]="item.flag"/>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.capital }}</td>
            <td>{{ item.population | number }}</td>
            <td>
                <a [routerLink]="['/pais', item.alpha2Code]">ver...</a>
            </td>
        </tr>
    </tbody>
</table>