<div
    *ngIf="!pais; else divPais"
    class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{pais.name}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>bandera</h3>
            <img [src]="pais.flag"  class="img-thumbnail" alt="bandera de pais">
        </div>

        <div class="col">
            <h3>Informacion</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Poblacion</strong> {{pais.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Codigo numerico</strong> {{pais.numericCode | number}}
                </li>
                <li class="list-group-item">
                    <strong>Codigo alpha</strong> {{pais.alpha3Code}}
                </li>
            </ul>
        </div>

        <h3>Traducciones</h3>
        <div class="row">
            <div class="col">
                <span class="badge bg-primary mr-1">{{pais.translations.de}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations.es}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations.fr}}</span>
            </div>
        </div>
    </div>

    <pre class="mt-5">
        {{pais | json}}
    </pre>
</ng-template>
